<a href="https://colab.research.google.com/gist/luke-414/de0d44258b05148fb1759c69a3d53bdb/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
strVal = 'data science'               
nVal = 12345                         
fVal = 1.2                          
lVal = ['data', 'science']            
dVal = {'lecture' : 'data science'}   
bVal = True

In [ ]:
# 기본적인 주석

In [ ]:
''' 
이런 형태의 주석도 많이 사용
'''

In [ ]:
strVal

In [ ]:
nVal

In [ ]:
fVal

In [ ]:
lVal

In [ ]:
dVal

In [ ]:
bVal

In [ ]:
print('strVal : ', strVal)
print('nVal : ', nVal)
print('fVal : ', fVal)
print('lVal : ', lVal)
print('dVal : ', dVal)
print('bVal : ', bVal)

In [ ]:
print('strVal : ', type(strVal))
print('nVal : ', type(nVal))
print('fVal : ', type(fVal))
print('lVal : ', type(lVal))
print('dVal : ', type(dVal))
print('bVal : ', type(bVal))

In [ ]:
nVal = 16                         
fVal = 3.14

In [ ]:
print('10진수 표현 : ', nVal)      
print('2진수 표현 : ', bin(nVal))  
print('8진수 표현 : ', oct(nVal))  
print('16진수 표현 : ', hex(nVal))

In [ ]:
btVal = True                           
bfVal = False

In [ ]:
btVal = TRUE                          
bfVal = FALSE

In [ ]:
btVal = true                          
bfVal = false

In [ ]:
10 == 11

In [ ]:
10 != 11

In [ ]:
10 >= 11

In [ ]:
10 <= 11

In [ ]:
10 > 11

In [ ]:
10 < 11

In [ ]:
nBig = 100
nSmall = 10

In [ ]:
print(nBig == nSmall)
print(nBig != nSmall)
print(nBig >= nSmall)
print(nBig <= nSmall)
print(nBig > nSmall)
print(nBig < nSmall)

In [ ]:
print(nBig =< nSmall)

In [ ]:
print(nBig => nSmall)

In [ ]:
strData = 'data'              
strSci = "Science"

In [ ]:
strLecture = strData + strSci

In [ ]:
strLecture

In [ ]:
strLecture = strData +" "+ strSci
strLecture

In [ ]:
strLecture.split()

In [ ]:
lSeperate = strLecture.split()

In [ ]:
type(lSeperate)

In [ ]:
strHello = "안녕하세요. 반갑습니다."

In [ ]:
strHello.find("반갑")

In [ ]:
strHello.find("hello")

In [ ]:
"반갑" in strHello

In [ ]:
strHello.replace('.', '?')

In [ ]:
strHello.replace('.', '?')                  
strHello.replace("하세요", "하셔유")

In [ ]:
strHello

In [ ]:
strNewHello = strHello.replace('.', '?')                  
strNewHello = strNewHello.replace("하세요", "하셔유")       
strNewHello

In [ ]:
strHello.strip('반갑습니다.')

In [ ]:
strHello

In [ ]:
lnData = [1,2,3,4,5]     
print(lnData)
print('type : ', type(lnData))

[1, 2, 3, 4, 5]
type :  <class 'list'>

In [ ]:
print(lnData[0])    
print(lnData[3])

In [ ]:
lnData[0] = lnData[4]   
print(lnData)

In [ ]:
print(lnData[2:4])

In [ ]:
lnData = [1,2,3,4,5]
lstrData=['a', 'b', 'c']

lnData + lstrData

In [ ]:
lnData.append(10)   
lnData

In [ ]:
lnData.insert(0, 'python')  
lnData

In [ ]:
lnData.remove('python')     
lnData

In [ ]:
del lnData[5]              
lnData

In [ ]:
lnData

In [ ]:
lnData.pop(0)     
lnData

In [ ]:
lnData.pop()     
lnData

In [ ]:
lnData.clear()  
lnData

In [ ]:
tVal = ("사과", "딸기", "바나나", "토마토", "키위")

print(tVal)
print(type(tVal))

('사과', '딸기', '바나나', '토마토', '키위')
<class 'tuple'>

In [ ]:
tVal[0] = "포도"

TypeError: ignored

In [ ]:
tData = ( 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)
tData.count(1)

3

In [ ]:
len(tVal)

5

In [ ]:
len(tData)

11

In [ ]:
print(tData[2:5])

(3, 1, 2)

In [ ]:
tTuple = tVal+ tData
print(tTuple)

('사과', '딸기', '바나나', '토마토', '키위', 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [ ]:
tData * 2

(1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [ ]:
tData

(1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [ ]:
tData2 = tData * 2
print(tData2)

(1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [ ]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal * 2
print("tVal memory = ", hex(id(tVal)))
print(tVal)

tVal memory =  0x3579020
tVal memory =  0x4276c20
('사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤')

In [ ]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal + tVal
print("tVal memory = ", hex(id(tVal)))
print(tVal)

tVal memory =  0x4276c20
tVal memory =  0x3ccc820
('사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '귤', '귤', '귤')

In [ ]:
sVal = {1, 2, 3, 4, 5}
print(sVal)
print(type(sVal))

{1, 2, 3}
<class 'set'>

In [ ]:
sVal[1:2]

TypeError: ignored

In [ ]:
sVal.add(100)
print(sVal)

{1, 2, 3, 100}

In [ ]:
sVal.update([200, 300])
print(sVal)

{1, 2, 3, 100, 200, 300}

In [ ]:
sVal.remove(200)
print(sVal)

KeyError: ignored

In [ ]:
sVal.clear()
print(sVal)

set()

In [ ]:
sVal = {100, 200, 300, 400, 500}
sData = {"a", "b", "c", "c", 100, 300}
print(sVal)
print(sData)

{100, 200, 300, 400, 500}
{100, 'b', 300, 'c', 'a'}

In [ ]:
# intersVal.intersection(sData)

{100, 300}

In [ ]:
# deference() 함수를 이용하여 차집합을 만들 수 있음
sVal.difference(sData)

{200, 400, 500}

In [ ]:
# "-" 연산자로도 가능
sVal - sData

{200, 400, 500}

In [ ]:
# union() 함수를 이용하여 합집합을 만들 수 있음
sVal.union(sData)

{100, 200, 300, 400, 500, 'a', 'b', 'c'}

In [ ]:
# "+"연산자는 불가능
sVal + sData

TypeError: ignored

In [ ]:
# symetric_difference()를 이용하여 합집합에서 교집합을 뺀 집합을 만들 ㅅ ㅜ있음
sVal.symmetric_difference(sData)

{200, 400, 500, 'a', 'b', 'c'}

**6. 딕셔너리**

**1) 딕셔너리 개념**

* 사전의 단어와 설명과 유사하게 키(Key)와 값(Value)로 표현한 구조

In [2]:
# 딕셔너리 기본 구조는 다음과 같이 표현할 수 있음
dVal = {
    'name' : '이컴공',
    'email' : 'computer@hoseo.edu',
    'address' : '충남 아산시'
}
print(dVal)
print(type(dVal))

{'name': '이컴공', 'email': 'computer@hoseo.edu', 'address': '충남 아산시'}
<class 'dict'>

**2) 기본 연산**

* 항목 검색
* 항목 추가
* 항목 삭제
* 항목 정렬

In [3]:
dData = {
    "사과" : 300, 
    "포도" : 200, 
    "배" : 500,
    "키위" : 100
}

In [4]:
# 키를 이용한 항목 검색
print(dData["배"])

500

In [5]:
# get() 함수를 이용한 항목 검색
dData.get("배")

500

In [6]:
# 새로운 키 추가를 통한 항목 추가
dData["딸기"] = 100
print(dData)

{'사과': 300, '포도': 200, '배': 500, '키위': 100, '딸기': 100}

In [7]:
# pop을 이용한 항목 삭제
dData.pop("사과")

300

In [8]:
dData

{'포도': 200, '배': 500, '키위': 100, '딸기': 100}

In [10]:
dData.pop()

TypeError: ignored

In [11]:
# sorted 함수를 이용한 정렬
sorted(dData)

['딸기', '배', '키위', '포도']

In [13]:
# sorted와 values 함수를 이용하여 값을 정렬할 수 있음
sorted(dData.values())

[100, 100, 200, 500]

In [12]:
# 실제 dData는 변화가 없음
dData

{'포도': 200, '배': 500, '키위': 100, '딸기': 100}

**7. 함수**

**1) 함수의 개념 **

* 재사용 가능한 프로그램
* def를 통해 함수를 정의하고, return을 사용해 값을 반환
들여쓰기 4칸 중요

![image.png]()

In [14]:
# 함수 f(x)를 생성하고 x 값을 입력으로 받음
def f(x):
  # x에 10을 더한 값을 출력
  return x + 10

In [15]:
f(2)

12